.product_header{
  text-align: center;
}
.product_header h1{
  font-weight: bolder;
}
#products{
  margin-bottom:60px;
}
/* overlay */
.ovarlay_image {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3200ba91;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.ovarlay_image:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

