<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-sm-12" id="products_header">
          <p><b>OUR SOFTWARE SOLUTIONS</b></p>
        </div>
      </div>
      <!-- Product row 1 -->
      <div class="row" id="Product_row1">
        <div class="col-sm-4"  id="Product_col1">
          <div class="card" id="Product_card1">
            <img src="assets/image/P1.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="Product_body_card1">
              <h5 class="card-title"><b>WEBSITE DESIGN & DEVELOPMENT</b></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" id="Product_col2">
          <div class="card" id="Product_card2">
            <img src="assets/image/P2.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="Product_body_card2">
              <h5 class="card-title"><b>CUSTOM SOFTWARE DEVELOPMENT</b></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" id="Product_col5">
          <div class="card" id="Product_card5">
            <img src="assets/image/P5.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="Product_body_card5">
              <h5 class="card-title"><b>OUTSOURCING SERVICE</b></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      <!-- product row 2 -->
      <div class="row" id="Product_row2">
        <div class="col-sm-4" id="Product_col3">
          <div class="card" id="Product_card3">
            <img src="assets/image/P3.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="Product_body_card3">
              <h5 class="card-title"><b>E-COMMERCE SOLUTION</b></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" id="Product_col4">
          <div class="card" id="Product_card4">
            <img src="assets/image/P4.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="Product_body_card4">
              <h5 class="card-title"><b>MOBILE APPS DEVELOPMENT</b></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4" id="Product_col8">
          <div class="card" id="Product_card8">
            <img src="assets/image/P8.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="Product_body_card8">
              <h5 class="card-title"><b>HOSPITAL MANAGEMENT SOLUTION</b></h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
