#products_header {
  text-align: center;
  font-size: 32px;
  color: #000;
}

#products_header p {
  padding-top: 20px;
}

#Product_row1 {


}

#Product_row2 {
  text-align: center;
}

#Product_col1 {
  margin-bottom: 24px;
  text-align: center;
}

#Product_card1 {
  border: none;
  text-align: center;
  /* width: 18rem; */
}
#Product_body_card1{
  text-align: center;
}
#Product_card1 h5{
  font-size: 16px;
  color: #4200AC;
  text-align: center;
}

#Product_col2 {
  margin-bottom: 24px;
}

#Product_card2 {
  border: none;
  /* width: 18rem; */
}
#Product_body_card2{
  text-align: center;
}
#Product_card2 h5 {
  font-size: 16px;
  color: #4200AC;
}

#Product_col3 {
  margin-bottom: 24px;
}

#Product_card3 {
  border: none;
  /* width: 18rem; */
}
#Product_body_card3{
  text-align: center;
}
#Product_card3 h5 {
  font-size: 16px;
  color: #4200AC;
}

#Product_col4 {
  margin-bottom: 24px;
}

#Product_card4 {
  border: none;
  /* width: 18rem; */
}
#Product_body_card4{
  text-align: center;
}
#Product_card4 h5 {
  font-size: 16px;
  color: #4200AC;
}

#Product_col5 {
  margin-bottom: 24px;
}

#Product_card5 {
  border: none;
  /* width: 18rem; */
}
#Product_body_card5{
  text-align: center;
}
#Product_card5 h5 {
  font-size: 16px;
  color: #4200AC;
}

#Product_col6 {
  margin-bottom: 24px;
}

#Product_card6 {
  border: none;
  width: 18rem;
}

#Product_col7 {
  margin-bottom: 24px;
}

#Product_card7 {
  border: none;
  width: 18rem;
}

#Product_col8 {
  margin-bottom: 24px;
}

#Product_card8 {
  border: none;
  /* width: 18rem; */
}
#Product_body_card8{
  text-align: center;
}
#Product_card8 h5 {
  font-size: 16px;
  color: #4200AC;
}
/* @media only screen and (max-width: 1280px) {
  #Product_row1 {
    margin-left: 1%;

  }
}
@media only screen and (max-width: 1024px) {
  #Product_row1 {
    margin-left: -1.2%;

  }
}
@media only screen and (max-width: 412px) {
  #Product_row1 {
    margin-left: 10%;

  }
} */







/* <p class="footer-company-name">Copyright © 2022 CICADA SOFT & SOLUTION Ltd. All Rights Reserved</p> */
