<!-- Page Content -->
<div class="container">
  <div class="product_header">
    <h1 class="mt-4 mb-0">OUR SOFTWARE SOLUTIONS</h1>
  </div>


  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">

    <div class="col-lg-3 col-md-4 col-6">
      <div class="ovarlay_image">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/image/P1.jpg" alt="">
        </a>
        <div class="overlay">
          <div class="text">WEBSITE DESIGN <br>And<br>DEVELOPMENT</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="ovarlay_image">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/image/P2.jpg" alt="">
        </a>
        <div class="overlay">
          <div class="text">CUSTOM SOFTWARE<br>DEVELOPMENT</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="ovarlay_image">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/image/P5.jpg" alt="">
        </a>
        <div class="overlay">
          <div class="text">OUTSOURCING SERVICE</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="ovarlay_image">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/image/P6.jpg" alt="">
        </a>
        <div class="overlay">
          <div class="text">ERP SOLUTION</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="ovarlay_image">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/image/P4.jpg" alt="">
        </a>
        <div class="overlay">
          <div class="text">MOBILE APPS<br>DEVELOPMENT</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="ovarlay_image">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/image/P8.jpg" alt="">
        </a>
        <div class="overlay">
          <div class="text">HOSPITAL MANAGEMENT<br>SOLUTION</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="ovarlay_image">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/image/P3.jpg" alt="">
        </a>
        <div class="overlay">
          <div class="text">E-COMMERCE SOLUTION</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="ovarlay_image">
        <a class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="assets/image/P7.jpg" alt="">
        </a>
        <div class="overlay">
          <div class="text">EDUCATIONAL INSTITUTE<br>MANAGEMENT SYSTEM</div>
        </div>
      </div>
    </div>

  </div>

</div>
