<header class="header">
  <section class="container">
     <div class="wrapper">
        <img  id="logo" src="/assets/image/logo.png" alt="" />
        <button type="button" class="burger" id="burger">
           <span class="burger-line"></span>
           <span class="burger-line"></span>
           <span class="burger-line"></span>
           <span class="burger-line"></span>
        </button>
        <span class="overlay" id="overlay"></span>
        <nav class="navbar" id="navbar">
           <ul class="menu">
              <li class="menu-item"><a id="active"  typr="submit" routerLink="home">Home</a></li>
              <li class="menu-item"><a typr="submit" routerLink="/">About</a></li>
              <li class="menu-item">
                 <a typr="submit" routerLink="services" data-toggle="sub-menu">Services</a>
                 <!-- <ul class="sub-menu">
                    <li class="menu-item"><a typr="submit" routerLink="/">WEBSITE DESIGN & DEVELOPMENT</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">CUSTOM SOFTWARE DEVELOPMENT</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">OUTSOURCING SERVICE</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">ENTERPRISE RESOURCE PLANNING SOLUTION</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">MOBILE APPS DEVELOPMENT</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">HOSPITAL MANAGEMENT SOLUTION</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">E-COMMERCE SOLUTION</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">EDUCATIONAL INSTITUTE MANAGEMENT SYSTEM</a></li>
                 </ul> -->
              </li>
              <li class="menu-item menu-item-child">
                 <a typr="submit" routerLink="/" data-toggle="sub-menu">Planning <i class="expand"></i></a>
                 <ul class="sub-menu">
                    <li class="menu-item"><a typr="submit" routerLink="/">Basic</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">Standard</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">Premium</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">Professional</a></li>
                 </ul>
              </li>
              <li class="menu-item menu-item-child">
                 <a typr="submit" routerLink="/" data-toggle="sub-menu">Projects <i class="expand"></i></a>
                 <ul class="sub-menu">
                    <li class="menu-item"><a typr="submit" routerLink="/">Design Project</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">Development Project</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">Branding Project</a></li>
                    <li class="menu-item"><a typr="submit" routerLink="/">Others Project</a></li>
                 </ul>
              </li>
              <li class="menu-item"><a RouterLink="contuct" type="submit" routerLink="contact">Contact</a></li>
           </ul>
        </nav>
     </div>
  </section>
</header>





<!-- <div class="container">
  <header>
    <nav class="nav">
    <img class="logo" src="/assets/image/logo.png" alt="" />

      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

      <div class="nav__link hide">
        <a href="#">home</a>
        <a href="#">about</a>
        <a href="#">contact</a>
        <a href="#">blog</a>
      </div>
    </nav>
  </header>
</div> -->

























<!-- <mat-toolbar id="toolbar" layout-align="center">
  <span><img id="logo" src="/assets/image/logo.png" alt="" /></span>
</mat-toolbar> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container">
      <img id="logo" src="/assets/image/logo.png" alt="" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Software</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Company Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Contact</a>
            </li>
          </ul>
        </div>
  </div>
</nav> -->
