<div class="container">
  <div class="row">
    <div class="about_header">
      <h1 class="mt-4 mb-0">Anout CICADA</h1>
    </div>
    <hr class="mt-2 mb-5">
  </div>
  <div class="row">
    <div class="col-sm-5">
      <!-- <div class="container">
        <img src="assets/image/P3B.jpg" alt="Avatar" class="image">
        <div class="overlay">
          <div type="button" class="text">Read More</div>
        </div>
      </div> -->
      <div class="container">
        <img src="assets/image/P3B.png" alt="Avatar" class="image">
        <!-- <div class="overlay">
          <div class="text">Hello World</div>
        </div> -->
      </div>
    </div>

    <div class="col-sm-7" id="about_us_description">
      <p>Cicada Soft & Solution Ltd. has fast become a dynamic and fast-moving company in Client Solution Management in Information Technology in Bangladesh and has proven itself to be one of the market leaders.</p>
      <P>We strive to provide you with the best solutions to your business system needs. As our client, we place great emphasis and focus on your problems and goals and develop solutions that best fits your needs. We offer strong and effective solutions to your business with an enduring impact. We think of ourselves as your long-term partner.</P>
      <P>As partners, we will ensure your business needs are carefully evaluated and will decide the best methods to represent your company, and develop a strong and effective solution for your business that will have an enduring impact.</P>
      <!-- <P>At Cicada Soft & Solution Ltd., we have quality-minded staff, consisting of consultants, graphic artists, designers, developers and programmers, who have the abilities and experience to create successful solutions for your needs. We are confident that you will be satisfied with our quality service.</P> -->
    </div>
  </div>
</div>
