@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.about_header{
  text-align: center;
}
.about_header h1{
  font-weight: bolder;
}
/* #abutus_head {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bolder;
  margin-top:40px;
} */

/* overlay */
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#about_us_description{
text-align: justify;
padding:20px;
}
