#logo img{
padding-top: 10px;
height: 120px;
}
#midia_content_icon{
  color: #4200AC;
  font-size:18px;
  padding-top: 15px;
  text-align: right;
}
#midia_fb_content_icon{
  padding-top: 7px;
  font-size:18px;
}
#midia_linkedin_content_icon{
  padding-top: 7px;
  font-size:18px;
}
#email{
  padding-top: 8px;
  text-align: right;
  color: #4200AC;
}
#email h1{
  font-size:16px;
  padding-top: 10px;
}
#midia_content_links{
  text-align: left;
}

#midia_content_links1{
  padding-left:10px;
  font-size:16px;
  text-decoration: none;
  color: #4200AC;
}

#midia_content_links2{
padding-top: 12px;
}

@media only screen and (max-width: 412px) {
  #icon_content{
    padding-top: 0;
    text-align: left;
  }
  #midia_content_icon{
    padding-top: 0;
    font-size:18px;
  }
  #midia_content_links1{
    padding-left:10px;
    font-size:18px;
    text-align: left;
  }
}
