<div class="container">
  <div class="row">
    <!-- Logo  -->
    <div class="col-sm-10" id="logo">
      <img src="/assets/image/logo.png" alt="" />
    </div>
    <!-- Social Media contents -->
    <!-- <div class="col-sm-" id="midia content">
        <i class="fas fa-envelope" id="midia_content_icon"></i>
      </div> -->
    <div class="col-sm-2" id="email">
      <div class="row">
        <div class="col-sm-2" id="icon_content">
          <i class="fas fa-envelope" id="midia_content_icon"></i> <br>
          <i class="fab fa-facebook-square" id="midia_fb_content_icon"></i> <br>
          <i class="fab fa-linkedin" id="midia_linkedin_content_icon"></i>
        </div>
        <div class="col-sm-10" id="midia_content_links">
          <h1>www.css.gmail.com</h1>
          <a id="midia_content_links1" href="https://www.facebook.com/">facebook.com/cssbd</a>
          <a id="midia_content_links2" href="https://www.facebook.com/"> linkedin.com/cssbd</a>
        </div>
      </div>
    </div>
  </div>
</div>

