<div class="container-fluid">
  <div class="row" id="top_header_row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-" id="midia content">

          </div>
          <div class="col-sm-6" id="email">
            <div class="row">
              <div class="col-sm-12" id="icon_content">
                <i class="fas fa-envelope" id="midia_content_icon"> <a id="midia_content_links1" href="https://www.facebook.com/">www.css.gmail.com</a></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
