<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Cicada Soft & Solution Ltd.<span></span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>

      <a href="#">Blog</a>

      <a href="#">Pricing</a>

      <a href="#">About</a>

      <a href="#">Faq</a>

      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Copyright © 2022 CICADA SOFT & SOLUTION Ltd. All Rights Reserved</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fas fa-location"></i>
      <p><span>Road 07, Sector 09, Uttara,</span>Dhaka-1230,
        Bangladesh</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+8801408485879</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="info.cicadasofts@gmail.com">info.cicadasofts@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula
      sit amet.
    </p>

    <div class="footer-icons">

      <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
